@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
    font:0.08rem/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}/*统一字，体这个好看*/
input{
	outline:none;	
}
select{
	outline:none;
	cursor: pointer;
	}
textarea{
	resize: none;
	font-size: 0.06rem;
}
h1, h2, h3, h4, h5, h6{
	font-size:0.06rem;
	font-weight:normal;	
}
a{
	font-size:0.06rem;
	color:#666;
	text-decoration:none;	
}
a:hover{
	color:#39c7bb;
}
img{
	border:0;
	display:block;	
}
ul, ol, dl, li{
	list-style:none;	
}
.clearfix:after{
	display:block;
	content:"";
	clear:both;	
}
.clearfix{
	zoom:1;	
}
.fl{
	float:left;	
}
.fr{
	float:right;	
}
i{
	font-style:normal;
	}
b{
	font-weight:normal;
	}


.warper{
	width:3.75rem;
	margin:0 auto;
}
.p-head{
	width:100%;
	height:0.44rem;
	background:#040404;
	position:relative;
}
.p-head .button{
	width:0.225rem;
	position: absolute;
	left:0.27rem;
	top:0.14rem;
}
.p-head .button span{
	width:0.225rem;
	height:0.02rem;
	background:#fff;
	display: block;
	margin-bottom:0.05rem;
}
.p-head .button .btn3{
	margin-bottom:0;
}
.p-head .word{
	font-size:0.16rem;
	color:#f7f8fa;
	text-align: center;
	line-height:0.44rem;
}
.p-bg{
	width:100%;
	height:1.5rem;
	background:url(../images/banner2.jpg) no-repeat;
	position:relative;
	background-size:3.75rem 1.5rem;
}
.p-bg .bg-word{
	font-size:0.325rem;
	color:#fff;
	position: absolute;
	top:0.5rem;
	left:1.22rem;
	
}
.p-cont .cont{
	width:100%;
	height:1.5rem;
	background:#fafafa;
}
.p-cont .cont .c-logo .active .intr-svg .st0 {
	fill:#e20d22
}
.p-cont	.cont .c-logo{
	padding-top:0.37rem;
	margin-left:0.35rem;
	margin-bottom:0.175rem;
}
.p-cont	.cont .c-logo a{
	display: inline-block;
	text-align: center;
	font-size:0.1rem;
	line-height:0.17rem;
	margin-right:0.3rem;
}
.p-cont	.cont .c-logo a span{
	display: block;
}
.p-cont	.cont .c-logo .active span {
	color:#e20d23;
}
.p-cont	.cont .c-logo .active p {
	color:#e20d23;
}
.p-cont	.cont .c-logo .control{
	
}
.p-cont	.cont .c-logo .intr-svg {
	width: 0.3rem;
	height: 0.27rem;
	
}
.p-cont .medical{
	width:100%;
	background:#fff;
	overflow: hidden;
	position: relative;
	margin-bottom:1rem;
	z-index:1;
	
}
.p-cont .medical .med1 {
	width:3.75rem;
	
	margin-left:0.275rem;
	margin-top:0.27rem;
	margin-right:0.275rem;
}
.p-cont .medical .med1 h2{
	font-size:0.2rem;
	color:#e30b20;
	
}
.p-cont .medical .med1 h2 span{
	border:4px solid #e30b22;
	margin-right:0.225rem;
	
}
.p-cont .medical .med1 .tabs{
	overflow: hidden;
	margin-top:0.525rem;
	margin-left:0.25rem;
	margin-bottom:0.425rem;
	
}

.p-cont .medical .med1 .tabs li{
	text-align: center;
	float:left;
	margin-right:0.3rem;
}
.p-cont .medical .med1 p{
	margin-left:0.25rem;
	margin-right:0.275rem;
	font-size:0.125rem;
	line-height:0.225rem;
	
}
.p-cont .medical .med2 {
	width:3.75rem;
	position: absolute;
	top:0;
	left:3.75rem;
	margin-left:0.275rem;
	margin-top:0.27rem;
}
.p-cont .medical .med2 h2{
	font-size:0.2rem;
	color:#e30b20;
	
}
.p-cont .medical .med2 h2 span{
	border:4px solid #e30b22;
	margin-right:0.225rem;
	
}
.p-cont .medical .med2 .tabs{
	overflow: hidden;
	margin-top:0.525rem;
	margin-left:0.25rem;
	margin-bottom:0.425rem;
	
}

.p-cont .medical .med2 .tabs li{
	text-align: center;
	float:left;
	margin-right:0.3rem;
}
.p-cont .medical .med2 p{
	margin-left:0.25rem;
	margin-right:0.275rem;
	font-size:0.125rem;
	line-height:0.225rem;
	
}
.p-cont .medical .med3 {
	width:3.75rem;
	position: absolute;
	top:0;
	left:7.5rem;
	margin-left:0.275rem;
	margin-top:0.27rem;
}
.p-cont .medical .med3 h2{
	font-size:0.2rem;
	color:#e30b20;
	
}
.p-cont .medical .med3 h2 span{
	border:4px solid #e30b22;
	margin-right:0.225rem;
	
}
.p-cont .medical .med3 .tabs{
	overflow: hidden;
	margin-top:0.525rem;
	margin-left:0.25rem;
	margin-bottom:0.425rem;
	
}

.p-cont .medical .med3 .tabs li{
	text-align: center;
	float:left;
	margin-right:0.3rem;
}
.p-cont .medical .med3 p{
	margin-left:0.25rem;
	margin-right:0.275rem;
	font-size:0.125rem;
	line-height:0.225rem;
	
}
.p-cont .medical .med4 {
	width:3.75rem;
	position: absolute;
	top:0;
	left:11.25rem;
	margin-left:0.275rem;
	margin-top:0.27rem;
}
.p-cont .medical .med4 h2{
	font-size:0.2rem;
	color:#e30b20;
	
}
.p-cont .medical .med4 h2 span{
	border:4px solid #e30b22;
	margin-right:0.225rem;
	
}
.p-cont .medical .med4 .tabs{
	overflow: hidden;
	margin-top:0.525rem;
	margin-left:0.25rem;
	margin-bottom:0.425rem;
	
}

.p-cont .medical .med4 .tabs li{
	text-align: center;
	float:left;
	margin-right:0.3rem;
}
.p-cont .medical .med4 p{
	margin-left:0.25rem;
	margin-right:0.275rem;
	font-size:0.125rem;
	line-height:0.225rem;
	
}















